
body {
    font-family: 'Sunflower', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, sans-serif;
}

.title {
    font-family: 'Sigmar One', sans-serif;
}

.btn {
    white-space: normal;
}